.body {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__href {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main__add-task-wrapper {
  display: flex;
  margin-bottom: 16px;
}

.main__ul {
  padding: 0;
  margin: 0;
}

.main__h3 {
  padding: 30px 0 10px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  list-style: none;
}

.main__button {
  width: 60px;
  font-size: 15px;
  font-family: Lato, sans-serif;
  color: #888;
  vertical-align: middle;
  cursor: pointer;
  background: none;
  border: 0px;
  border-radius: 10px;
  outline: none;
}

.main__button:hover {
  color: #3a3A3a;
}

.main__h3_add {
  display: block;
  padding: 30px 0 10px;
  margin: 16px 0 20px;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}

.main__input {
  flex-grow: 1;
  width: 226px;
  height: 21px;
  padding: 0 9px;
  margin: 0;
  font-size: 18px;
  font-family: Lato, sans-serif;
  line-height: 18px;
  color: #888;
  vertical-align: middle;
  background: #FFF;
  border: 1px solid #dDd;
  border-radius: 6px;
  outline: none;
}

.main__input:focus {
  color: #333;
}

/* New Task */

.main__input_add {
  width: 318px;
}

.main__button_add:hover {
  color: #0FC57C;
}

/* Task list */

.main__li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #eee; 
}

.main__checkbox {
  margin: 0 10px;
  vertical-align: middle;
  outline: none;
}

.main__label {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  width: 226px;
  padding-left: 10px;
  font-size: 18px;
  vertical-align: middle;
}

.main__button_delete:hover {
  background-color: #CF2323;
}

.main__delete-button-image {
  height: 2em;
  vertical-align: middle;
  transition: transform 200ms ease-in;
  transform: rotateZ(45deg);
}

.main__delete-button-image:hover {
  transform: rotateZ(0);
}

/* Completed */

.main__ul_completed
.main__label {
  color: #888;
  text-decoration: line-through;
}

/* Edit Task */

.main__ul
.main__li
.main__input {
  display: none;
}

.main__ul
.main__li_edit
.main__input {
  display: inline-block;
  width: 224px;
}

.main__ul
.main__li_edit
.main__label {
  display: none;
}